@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model  Hope.Infrastructure.DTO.ChangePasswordDTO;

<html>
<head>
    <style>
        .user-box {
            position: relative;
            margin-bottom: 30px;
        }

            .user-box input {
                width: 100%;
                padding: 10px 0;
                font-size: 16px;
                color: #333;
                margin-bottom: 30px;
                border: none;
                border-bottom: 2px solid #333;
                outline: none;
                background: transparent;
            }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Change Password</h5>

                    <div class="card">
                        <div class="card-body">
                            <form asp-action="Change">
                                <div class="row">
                                    <div class="col-md-4">
                                        New Password
                                        <span class="text-danger">*</span>

                                        <input id="txtNewPassword" type="password" asp-for="NewPassword" class="form-control" style="margin-bottom:-40px" />
                                        <button id="ShowPassword" class="btn btn-secondary" style="float: right" type="button">
                                            <i id="myInput" style="font-size:20px" class="ti ti-eye-check"></i>
                                        </button>

                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                        <div class="col-md-4">
                                            Confirm Password
                                            <span class="text-danger">*</span>
                                            <input type="password" asp-for="ConfirmPassword" class="form-control" />
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <button id="btnSubmit" type="submit" class="btn btn-primary">Change</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#ShowPassword').click(function () {
            if (document.getElementById('myInput').className == "ti ti-eye-check") {
                document.getElementById('myInput').className = "ti ti-eye";
                document.getElementById('txtNewPassword').type = 'text';
            }
            else {
                document.getElementById('myInput').className = "ti ti-eye-check";
                document.getElementById('txtNewPassword').type = 'password';
            }
           
        });
    </script>

</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</html>